.how-it-works-header__wrapper {
  margin: 50px auto 0;
  text-align: center;
}

.how-it-works-header__title {
  font-size: 30px;
}

@media (min-width: 768px) {
  .how-it-works-header__wrapper {
    max-width: 50%;
    text-align: left;
    margin: 0 0 0 50px;
  }
}
