.purchase-section__wrapper {
  text-align: center;
  padding: 100px 5% 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--base);
}

@media (min-width: 768px) {
  .purchase-section__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .purchase-section__image {
    width: 50%;
  }
  .purchase-section__data {
    max-width: 50%;
    margin-left: 50px;
  }
}
