.back-to-top__button {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: var(--secondary);
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 18px;
}
