.input {
  border: 1px solid #c4d8dc;
  padding: 10px 15px;
  outline: none;
  transition: border 0.3s;
  border-radius: 5px;
  color: #626262;
  width: 100%;
}

.input:focus {
  border: 1px solid #626262;
}
