* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

:root {
  --base: #1d1d1b;
  /* black */
  --primary: #f8b133;
  /* orange */
  --secondary: #1d70b7;
  /* blue */
}
